<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Német Kupa Tippjáték</title>
        <script th:inline="javascript">
            var href = [[${account.href}]];
            var lastIndexOfBackslash = href.lastIndexOf('/');
            window.account = {
                username: [[${account.username}]],
                id: href.substring(lastIndexOfBackslash + 1)
            };
            window.backendHost = 'http://localhost:8080/';
        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="/src/client/app/Login.js"></script>
        <link rel="stylesheet" href="/css/mui.css" type="text/css"/>
        <link rel="stylesheet" href="/css/material.css" type="text/css"/>
        <script src="/src/client/app/material.js" type="text/javascript"></script>

        <!--For local developing with webpack:-->
        <!--<link rel="stylesheet" href="../static/css/mui.css" type="text/css"/>-->
        <!--<link rel="stylesheet" href="../static/css/material.css" type="text/css"/>-->
        <!--<script src="../static/src/client/app/material.js" type="text/javascript"></script>-->
    </head>
    <body>
        <div id="app"></div>
        <script src="/src/client/public/bundle.js" type="text/javascript"></script>

        <!--For local developing with webpack:-->
        <!--<script src="../static/src/client/public/bundle.js" type="text/javascript"></script>-->
    </body>
</html>

