<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Soccer Bet</title>
    <script src="../build/react.js"></script>
    <script src="../build/react-dom.js"></script>
    <script src="../build/mui-react.js"></script>
    <!--<script src="../build/mui-webcomponents.js"></script>-->
    <!--<script src="../build/mui.js"></script>-->
    <!--<script src="../build/mui-combined.js"></script>-->
    <!--<script src="../build/mui-react-combined.js"></script>-->
    <script src="../build/browser.min.js"></script>
    <!--<link rel="stylesheet" href="/css/main.css"/>-->
    <link rel="stylesheet" href="/css/mui.css" type="text/css"/>
</head>
<body>


<div id="muiapp"></div>
<script type="text/babel" src="/js/MUIApp.js"></script>

<!--WORKING!!!-->

<!--<style type="text/css">-->
<!--@media (max-width: 1080px) {-->
<!--.nav li { display: none; }-->
<!--.nav:before { content: "\2261"; font-size: 30pt; }-->
<!--.nav.visible li { display: block; font-size: 12pt; }-->
<!--}-->
<!--</style>-->

<!--<ul class="nav">-->
    <!--<li><a href="/about">ABOUT</a></li>-->
    <!--<li><a href="/blog">BLOG</a></li>-->
    <!--<li><a href="/portfolio">PORTFOLIO</a></li>-->
<!--</ul>-->

<!--<script>-->
<!--document.querySelector('.nav').addEventListener('click', e => {-->
<!--e.target.classList.toggle('visible');-->
<!--});-->
<!--</script>-->

</body>
</html>

